<div style="text-align:center;"><a href="#/" ><button type="button" class="btn btn-default btn-success">Accueil</button></a></div>
<br>
Centre d'interet :
<select name="interet" ng-model="selection.monInteret">
    <option  value="0" >Aucun</option>
    <option ng-repeat="interet in Interets" value="{{ interet.id }}">{{ interet.nom }}</option>
</select>

<table class="table table-striped table-hover">

    <tr style="text-align:center;">
        <td>ID</td>
        <td>Nom du geek </td>
        <td>Prenom du geek </td>
        <td>Sexe du geek </td>
        <td></td>

    </tr>
    <tr ng-repeat="geek in Geeks | filter:filtrer" style="text-align:center;">
        <td>{{ geek.id }}</td>
        <td>{{ geek.nom }}</td>
        <td>{{ geek.prenom }}</td>
        <td>{{ geek.sexe }}</td>
        <td><a href="#/GeeksById/{{ geek.id }}">
            <button type="button" class="btn btn-default btn-warning">Consulter</button></a></td>
    </tr>
</table>